@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply bg-clip-text text-transparent;
  }

  body {
    @apply text-gray-700 leading-tight;
    font-family: "Josefin Sans", serif;
    word-spacing: 1px;

    &::after {
      @apply absolute w-0 h-0 overflow-hidden;
      z-index: -1;
      content: url(/assets/header1.jpg) url(/assets/header2.jpg)
        url(/assets/header3.jpg);
    }
  }

  picture > img {
    @apply block w-full h-auto filter blur-0;
    transition: filter 0.4s ease;

    &[data-src] {
      @apply blur-sm;
    }
  }
  [data-outlet] {
    @apply content-between flex my-0 mx-auto max-w-[64rem] gap-[5%];
    will-change: opacity;
  }

  header {
    @apply relative w-screen h-[18.75rem];

    &::before {
      @apply absolute z-10 inset-0 opacity-[0.6];
      content: "";
      background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 36%,
        rgba(0, 0, 0, 0.65) 100%
      );
    }

    &::after {
      @apply absolute inset-0 bg-black;
      content: "";
      z-index: -1;
    }
  }

  a,
  a:visited,
  a:active {
    @apply text-white no-underline;
  }

  ul {
    @apply list-none py-4;

    & li {
      @apply inline-block mr-10;
    }
  }

  nav {
    @apply relative mx-auto max-w-[64rem];
  }

  h1,
  h2,
  h3 {
    font-family: "Playfair Display", serif;
  }

  footer {
    @apply p-2.5 bg-black text-white text-center mt-7 leading-6;
    letter-spacing: 0.03em;

    & a {
      color: orangered !important;
    }
  }

  svg {
    @apply inline-block align-baseline mb-[-3px];
    fill: #a8dadc;
  }
}

@layer components {
  .menudrawer {
    @apply absolute text-right right-0 top-11 rounded p-5;
    transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1);
    background: rgba(0, 0, 0, 0.8);
    line-height: 1.8;
    z-index: 10000;
  }

  .hide-menu {
    @apply opacity-0 pointer-events-none;
    transform: scale(0.9);
  }

  header:not(.group) .profile-photo-secondary {
    @apply opacity-0 pointer-events-none;
  }

  .calendar,
  .map-pin {
    @apply text-right absolute right-0 text-white top-64 opacity-0;
    transition: 0.4s all ease-out;
  }

  .profile-photo,
  .profile-photo-secondary {
    @apply absolute backface left-0 block w-[12.5rem] top-[9.375rem];
    transform: translateZ(0);
    transition: all 0.4s ease-out, opacity 0.1s ease-out;

    & img {
      @apply cursor-pointer w-full;
      transition: 0.4s all ease;
    }
  }

  .profile-photo img {
    @apply rounded;
  }

  .profile-photo-secondary {
    & img {
      @apply rounded-50;
    }
  }

  .profile-1 {
    transform: perspective(1px) translate3d(-15px, -70px, 0) scale(0.25);
  }

  .profile-2 {
    transform: perspective(1px) translate3d(40px, -70px, 0) scale(0.25);
  }

  .profile-3 {
    transform: perspective(1px) translate3d(95px, -70px, 0) scale(0.25);
  }

  .follow {
    @apply mb-2.5 cursor-pointer rounded py-1.5 px-2 text-white font-bold w-[9.375rem] absolute block top-80 backface left-[13.75rem];
    font-family: Arial;
    background-color: orangered;
    transform: translateZ(0);
    transition: all 0.4s ease-out;
  }

  .save-info {
    @apply text-white absolute invisible text-right opacity-0 text-xl top-[12.125rem] right-[3.5rem];
  }

  .profile-name {
    @apply absolute backface block text-4xl left-0 top-[22.1875rem];
    transition: all 0.4s ease-out;
    transform: translateZ(0);
  }

  .side-icon {
    @apply absolute right-0 block rounded-50 cursor-pointer top-[13.75rem] px-3 pt-3 pb-2;
    transition: 0.4s all ease-out;
    background: rgba(255, 255, 255, 0.3);
  }

  .header-img {
    @apply absolute w-screen h-[18.75rem];
    transition: transform 0.2s ease, opacity 0.2s ease;
    will-change: transform, opacity;
    contain: strict;
  }

  .nav-wrapper {
    @apply w-screen relative px-5;
    z-index: 1000;
    background: rgba(4, 67, 98, 0.25);
  }

  .stats {
    @apply absolute right-0 top-[20.625rem] w-[60%];
    font-family: "Playfair Display", serif;
    line-height: 1.2;
  }

  header:not(.index) .stats {
    @apply hidden;
  }

  .bio {
    @apply hidden w-[60%] lg:block;
    line-height: 1.4;
  }

  /* Home */
  .home-wrapper {
    border-top: 1px solid #ddd;
  }

  .index .header-img {
    background: url("/assets/header1.jpg") center center / cover;
  }

  /* Place */
  .place .header-img {
    background: url("/assets/header2.jpg") center center / cover;
  }

  .place .follow {
    transform: translate3d(-215px, -80px, 0);
  }

  .place .profile-photo {
    transform: translate3d(-20px, -100px, 0) scale(0.75);
  }

  .place .profile-name {
    @apply text-white;
    transform: translate3d(140px, -125px, 0) scale(0.75);
  }

  :is(.place, .group) .side-icon {
    transform: translate3d(0, -40px, 0);
    background: rgba(255, 255, 255, 0.9);
  }

  .place .calendar,
  .group .map-pin {
    @apply opacity-100;
  }

  /* Group */
  .group .header-img {
    background: url("/assets/header3.jpg") center center / cover no-repeat;
  }

  .group .profile-photo img {
    @apply rounded-50;
  }

  .item1 {
    background: url("/assets/hawaii1.jpg") center center / cover no-repeat;
  }

  .item2 {
    background: url("/assets/hawaii2.jpg") center center / cover no-repeat;
  }

  .item3 {
    background: url("/assets/hawaii3.jpg") center center / cover no-repeat;
  }

  .item4 {
    background: url("/assets/hawaii4.jpg") center center / cover no-repeat;
  }

  .item5 {
    background: url("/assets/hawaii5.jpg") center center / cover no-repeat;
  }

  .group .follow {
    @apply opacity-0 transition-none pointer-events-none;
  }

  .group .profile-photo {
    transform: perspective(1px) translate3d(-70px, -70px, 0) scale(0.25);
  }

  .group .profile-0,
  .group .profile-1,
  .group .profile-2,
  .group .profile-3 {
    @apply opacity-100;
    transition: all 0.4s ease-in-out;
  }

  .group .profile-photo img:hover,
  .group .profile-photo-secondary img:hover {
    transition: 0.2s all ease;
    border: 10px solid white;
  }

  .group .online {
    @apply absolute rounded-50 right-0 bottom-0 w-10 h-10 z-10;
    background: #07dc3c;
    border: 1px solid #000;
  }

  .group .profile-name {
    @apply text-white;
    transform: translate3d(0px, -125px, 0);
  }

  /* Utils */

  .lg {
    @apply text-[2.5rem];
  }

  .orangered {
    color: orangered;
  }

  .backface {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .at-top {
    @apply p-0 uppercase text-sm text-gray-600 mt-[1.875rem] pb-2.5;
  }

  .rounded-50 {
    border-radius: 50%;
  }

  @media screen and (max-width: 640px) {
    :not(.index) .side-icon {
      @apply px-3.5 pt-3.5 pb-3;
      transform: translate3d(0, -65px, 0);
    }
  }
}

/* Too dynamic for TW 😅 */
.active-follow {
  background: rgb(5, 134, 106);
}
.header-img-transition {
  opacity: 0.6;
  transform: scale(1.05) translateZ(0);
}
.active-link {
  /* CLS on Firefox when using higher font-weight */
  text-shadow: 1px 0 0 currentColor;
}
.place ~ [data-outlet] .main-img {
  @apply w-full h-60;
  background: url("/assets/header1.jpg") center center / cover;
}
:not(.index) ~ [data-outlet] aside {
  background-color: #eee;

  & hr {
    border-color: #ccc;
  }
}
